# Server
PORT=3000
LOG_LEVEL=info

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=123456
DB_NAME=Sistema_Medico_JYP
DB_PORT=3306

# Security
JWT_SECRET=super_secret_key_123

# Email Provider (smtp | sendgrid)
EMAIL_PROVIDER=smtp
EMAIL_FROM=no-reply@jypmedic.com

# SMTP (Si EMAIL_PROVIDER=smtp)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_password_de_aplicacion
SMTP_SECURE=false

# SendGrid (Si EMAIL_PROVIDER=sendgrid)
SENDGRID_API_KEY=SG.xxxx_yyyy_zzzz
